<html>
<center>
<h1>This Computer hostname is {{ ansible_hostname }}</h1>
<small>This file is version {{ file_version }}</small>
{# This will not end up in the final output file of the remote server#}
</center>
</html>